body {
  font-size: 20px;
  font-family: Monaco serif;
  background-color: #dfdfdf;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li,
ol,
a {
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.img {
  display: block;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 170px;
  background-color: #f9f9fd;
  text-align: left;
}

.title {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.information {
  width: 1260px;
  display: block;

  border-radius: 8px;
  color: white;
  padding: 10px;
  margin-top: 10px;

  background-color: rgb(66, 66, 66);
}

.squaere {
  background-color: tomato;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  /* opacity: 10%; */
}


.figure {
  background-image: url(../image/squaere.png);
  background-repeat: no-repeat;
  /* background-position: 100px 20px; */
  /* background-size: 200px 250px; */
}

.contain {
  width: 200px;
  /* background-size: contain; */
  background-size: cover;
}

/* ======== attachment ==== */

.attachment {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  background-image: url("https://cdn.pixabay.com/photo/2020/10/07/10/51/mountains-5634817_1280.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: scroll;
  border-radius: 8px;
}

.box {
  width: 200px;
  height: 300px;
  border-radius: 8px;
}

.box:nth-child(1) {
  background-color: tomato;
}

.box:nth-child(2) {
  background-color: teal;
}

.box:nth-child(3) {
  background-color: green;
}

.box:nth-child(4) {
  background-color: white;
}

.box:nth-child(5) {
  background-color: black;
}

.multi {
  width: 150px;
  height: 150px;
  background-image: url(../image/squaere-blue.png), url(../image/squaere-yellow.png), url(../image/squaere.png);
  background-size: 50px, 50px, 50px, cover;
  background-repeat: no-repeat;
  background-position: top 20px right 30px, top 40px left 30px, bottom 45px right 30px;
}

.base {
  margin: 0;
  width: 480px;

}

.base>img {
  max-width: 100%;
  outline: 2px dashed black;
  border-radius: 8px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  flex-basis: calc(100% / 2 - 20px)
}

.card,
.base {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.obj__box {
  position: relative;
  height: 180px;
  width: 100%;
  outline: 2px dashed black;
  border-radius: 8px;
}

.obj__box>img {
  display: flex;
  height: 100%;
  width: 100%;
}

.card:nth-child(1) img {
  object-fit: fill;
}

.card:nth-child(2) img {
  object-fit: contain;
}

.card:nth-child(3) img {
  object-fit: cover;
}

.card:nth-child(4) img {
  object-fit: scale-down;
}

.card:nth-child(5) img {
  object-fit: none;
}

/* ===================== */

.card__one:nth-child(1) img {
  object-fit: fill;
  object-position: 50% 50%;
}

.card__one:nth-child(2) img {
  object-fit: contain;
  object-position: left bottom;
}

.card__one:nth-child(3) img {
  object-fit: cover;
  object-position: 20% 30px;
}

.card__one:nth-child(4) img {
  object-fit: scale-down;
  object-position: right top;
}

.liner {
  height: 600px;
  width: 100%;
  /* background: linear-gradient(red, green) */

  /* background: linear-gradient(#e66465, #9198e5) */
  /* background: linear-gradient(0.25turn, red, green, blue) */
  /* background: linear-gradient(to left, blue, red 50%) */
  /* background: linear-gradient(-45deg, red, blue) */
}